body { font-family: 'Noto Sans', sans-serif; }
::-webkit-scrollbar { width: calc(var(--gap) / 1.5); } 
::-webkit-scrollbar-track { background: var(--color__dark); }
::-webkit-scrollbar-thumb { background: var(--color__primary); } 

.d_flex { display: flex; }
.d_block { display: block; }
.d_none { display: none; }
.d_grid { display: grid; }
.flow_wrap { flex-flow: row wrap }
.flex_row { flex-direction: row; }
.flex_column { flex-direction: column; }
.justify_content-start { justify-content: flex-start; }
.justify_content-center { justify-content: center; }
.justify_content-end { justify-content: flex-end; }
.justify_content-between { justify-content: space-between; }
.justify_content-around { justify-content: space-around; }
.align_items-start { align-items: flex-start; }
.align_items-center { align-items: center; }
.align_items-end { align-items: flex-end; }
.max_100 { max-width: 100%; }
.w_100 { width: 100%; }
.h_100 { height: 100%; }
.mx_auto { margin-inline: auto; }
.overflow_hidden { overflow: hidden; }
.object_cover { object-fit: cover; }
.object_center { object-position: center; }
.radius_100 { border-radius: 100%; }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.position_fixed { position: fixed; }
.position_sticky { position: sticky; }

[data-txt-weight="400"] { font-weight: 400; }
[data-txt-weight="500"] { font-weight: 500; }
[data-txt-weight="600"] { font-weight: 600; }
[data-txt-weight="700"] { font-weight: 700; }
[data-txt-weight="800"] { font-weight: 800; }

[data-txt-transform="capitalize"] { text-transform: capitalize; }
[data-txt-transform="uppercase"] { text-transform: uppercase; }
[data-txt-transform="lowercase"] { text-transform: lowercase; }

[data-txt-decoration="none"] { text-decoration: none; }
[data-txt-decoration="underline"] { text-decoration: lowercase; }

[data-txt-style="normal"] { font-style: normal; }
[data-txt-style="italic"] { font-style: italic; }

[data-txt-align="right"] { text-align: right; }
[data-txt-align="center"] { text-align: center; }
[data-txt-align="left"] { text-align: left; }
[data-txt-talign="justify"] { text-align: justify; }

.row { padding-inline: var(--padding); max-width: calc(var(--width) - (var(--padding) * 2)); }

.animation__slideInDown { -webkit-animation: var(--animation__slideInDown); animation: var(--animation__slideInDown); }
.animation__slideOutUp { -webkit-animation: var(--animation__slideOutUp); animation: var(--animation__slideOutUp); }

[data-bg-color="black"] { background-color: var(--color__black); }
[data-bg-color="dark"] { background-color: var(--color__dark); }
[data-bg-color="grey"] { background-color: var(--color__grey); }
[data-bg-color="secondary"] { background-color: var(--color__secondary); }
[data-bg-color="purple"] { background-color: var(--color__purple); }
[data-bg-gradient="home"] { background: rgb(25 180 198 / 100%); background: linear-gradient(327deg, rgb(25 180 198 / 100%) 0%, rgb(7 138 164 / 100%) 100%); }

[data-txt-color="primary"],
[data-txt-color="primary"]:visited { color: var(--color__primary); }
[data-txt-color="white"],
[data-txt-color="white"]:visited { color: var(--color__white); }
[data-txt-color="grey"],
[data-txt-color="grey"]:visited { color: var(--color__grey); }

.header { top: 0; left: 0; border-bottom: var(--border) var(--color__grey); height: calc(var(--gap) * 5.5); z-index: 10; }
.header h1 { color: transparent; font-size: 0; }
.header__link { font-size: clamp(calc(var(--gap) * 1.125), 3.25vw, calc(var(--gap) * 1.28)); opacity: .5; }
@media(min-width: 920px) {
    .header .row { justify-content: flex-start; }  
    .header__nav { display: flex; gap: calc(var(--gap) * 2); }
    .header__title,
    .header__toggler,
    .nav { display: none!important; }
}
@media(max-width: 919.89px) { 
    .header .row { padding-right: 0; justify-content: space-between; } 
    .header__title { font-size: clamp(calc(var(--gap) * 2.15), 3.5vw, calc(var(--gap) * 2)); }
    .header__nav { display: none; }
    .header__toggler { max-width: calc(var(--gap) * 6); border: none; -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .header__toggler img { max-width: calc(var(--gap) * 2.5); }
    .header__toggler.active { background-color: var(--color__secondary); -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .nav { top: calc(var(--gap) - (var(--gap) * 25)); left: 0; z-index: 9;}
    .nav li { padding-block: calc(var(--padding) * 1.25); padding-inline: var(--padding); border-bottom: var(--border) var(--color__grey); }
    .nav a { font-size: clamp(calc(var(--gap) * 1.2), 3.5vw, calc(var(--gap) * 1.4)); } 
}

#templates { height: calc(75vh - (var(--gap) * 5.5)); min-height: calc(var(--gap) * 25); }
.templates__col { gap: calc(var(--gap) * 4); max-width: calc(var(--width) / 2.5); }
.templates__title { font-size: clamp(calc(var(--gap) * 2.5), 3.25vw, calc(var(--gap) * 6)); }
.templates__link { gap: calc(var(--gap) * 2); font-size: clamp(calc(var(--gap) * 1.85), 3.25vw, calc(var(--gap) * 2.8)); }
.templates__link >span{ max-width: calc(100% - (var(--gap) * 3.45)); }
.templates__icon { max-width: calc(var(--gap) * 1.45); }

#hoodlink { height: calc(var(--gap) * 12.5); }
.hoodlink__text { font-size: clamp(calc(var(--gap) * 1.6), 3.25vw, calc(var(--gap) * 2.8)); }
.hoodlink__btn { top: 0; right: 0; z-index: 1; }
@media (min-width: 769px) {
    [data-hoodlink-col="1"] { max-width: calc(100% - (var(--gap) * 16)); }
    [data-hoodlink-col="2"],
    .hoodlink__btn { max-width: calc(var(--gap) * 16); }
}
@media (max-width: 768.69px) {
    [data-hoodlink-col="1"] { max-width: calc(100% - (var(--gap) * 9)); }
    [data-hoodlink-col="2"],
    .hoodlink__btn { max-width: calc(var(--gap) * 9); }
}

.gridbox:hover .gridbox__content { top: 0%; -webkit-transition: top var(--transitionTime); transition: top var(--transitionTime); }
.gridbox__thumbnail { max-height: calc(var(--gap) * 40); }
.gridbox__content { top: 100%; left: 0; -webkit-transition: top var(--transitionTime); transition: top var(--transitionTime); }
.gridbox__link { max-width: calc(var(--gap) * 2.25); }
@media(min-width: 769px) { .grid__container { grid-template-columns: repeat(3, 1fr); } }
@media(max-width: 768.89px) { .grid__container { grid-template-columns: 1fr; } }

#about { padding-block: calc(var(--padding) * 4); }
#about .row { gap: calc(var(--gap) * 2) }
.about__content { gap: calc(var(--gap) * 2); }
.about__title { font-size: clamp(calc(var(--gap) * 2), 3.25vw, calc(var(--gap) * 2.7)); }
.about__text { font-size: clamp(calc(var(--gap) * 1.18), 3.25vw, calc(var(--gap) * 1.325)); line-height: 1.8; }
@media(min-width: 920px) { .about__content { grid-template-columns: repeat(2, 1fr); } }
@media(max-width: 919.89px) { .about__content { grid-template-columns: 1fr; } }

@media(hover: hover) {
    .header__link,
    .header__link:hover { -webkit-transition: opacity var(--transitionTime); transition: opacity var(--transitionTime);  }
    .header__link:hover { opacity: 1; }
    .hoodlink__btn,
    .hoodlink__btn:hover { -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .hoodlink__btn:hover { background-color: var(--color__secondary_shade); }
}